{% extends 'main/base.html' %}

{% block title %}
  База личных данных
{% endblock %}

{% block content %}
  <h1 class="mt-3">База личных данных</h1>

  {% for person in persons %}
    <div class="card my-2">
      <div class="card-header d-flex justify-content-between align-items-center">
        {{ person.name }}
        <div>
          <a class="btn btn-sm" href="{% url "main:edit_person" person.id %}">редактировать</a>
          <a class="btn btn-sm" href="{% url "main:delete_person" person.id %}" onclick="return window.confirm('Точно удалить?')">удалить</a>
        </div>
      </div>
      <div class="card-body">
        {% if person.birth_date %}
          <p class="card-text">{{ person.birth_date }}</p>
        {% endif %}
        {% if person.email %}
          <p class="card-text">{{ person.email }}</p>
        {% endif %}
        {% if person.phone_number %}
          <p class="card-text">{{ person.phone_number }}</p>
        {% endif %}
        {% if person.notes %}
          <p class="card-text">
            <small class="text-body-secondary">{{ person.notes }}</small>
          </p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div class="d-flex justify-content-end">
    <a href="{% url "main:create_person" %}" class="btn btn-primary">Создать</a>
  </div>

{% endblock %}
